.searchBox {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0 30px 0;
  position: relative;
  z-index: 10;
}

.searchBox input {
  padding: 5px;
  font-size: 14px;
}

.searchBox__input {
  display: flex;
  flex-wrap: wrap;
}

.searchBox__input label {
  width: 100%;
  text-align: left;
}

@media (max-width: 750px) {
  .searchBox {
    flex-wrap: wrap;
  }
  .searchBox__input {
    width: 100%;
  }
  .searchBox input {
    width: 50vw;
    border: 1px solid rgb(180, 179, 179);
    margin-bottom: 10px;
  }
}
